body {
  background-color: white;
}
h1 {
  color: olive;
}
h2 {
  color: navy;
}
p {
  color: black;
}
div {
  background-color: white;
  padding: 5px;
}
.header {
  padding: 40px;
  text-align: center;
  background: #0000ff;
  margin: 30px;
  font-size: 20px;
}