body {
  background-color: white;
}
h1 {
  color: black;
}
h2 {
  color: black;
}
p {
  color: black;
}
div {
  background-color: black;
  color: lightblue;
  border: 3px solid #66ff33;
  padding: 5px;
}