body {
  background-color: white;
}
h1 {
  color: olive;
}
h2 {
  color: navy;
}
p {
  color: white;
}
div {
  background-color: white;
  padding: 5px;
}
.header {
  background-color: gray;
  text-align: center;
  border: 2px solid white;
  color: white;
}